SystemInterface/SystemInterface/DsiNext/wsdl/KbhKKAdminServiceXsd2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KKAdminWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/KKAdminWcfService">
	<xs:complexType name="ArrayOfStamdata">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Stamdata" nillable="true" type="tns:Stamdata"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfStamdata" nillable="true" type="tns:ArrayOfStamdata"/>
	<xs:complexType name="Stamdata">
		<xs:sequence>
			<xs:element minOccurs="0" name="Adresse1" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Adresse2" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="ByNavn" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="CprNr" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Email" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="FødtDato" nillable="true" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="GaveBrevUdløbsDato" nillable="true" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="HarGaveBrev" type="xs:boolean"/>
			<xs:element minOccurs="0" name="MedlemsNr" type="xs:int"/>
			<xs:element minOccurs="0" name="MobilNr" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Navn" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Notat" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="OprettetAf" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="OprettetDato" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="PostNr" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="RowId" type="xs:int"/>
			<xs:element minOccurs="0" name="Status" type="tns:StatusTypes"/>
			<xs:element minOccurs="0" name="StorKredsNavn" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="StorKredsNr" type="xs:int"/>
			<xs:element minOccurs="0" name="SøgeNavn" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Tilknytning" nillable="true" type="tns:ArrayOfTilknytningType"/>
			<xs:element minOccurs="0" name="Titel" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="ÆndretAf" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="ÆndretDato" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Stamdata" nillable="true" type="tns:Stamdata"/>
	<xs:simpleType name="StatusTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="InActive"/>
			<xs:enumeration value="Active"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="StatusTypes" nillable="true" type="tns:StatusTypes"/>
	<xs:complexType name="ArrayOfTilknytningType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="TilknytningType" nillable="true" type="tns:TilknytningType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfTilknytningType" nillable="true" type="tns:ArrayOfTilknytningType"/>
	<xs:complexType name="TilknytningType">
		<xs:sequence>
			<xs:element minOccurs="0" name="Navn" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="TypeKode" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TilknytningType" nillable="true" type="tns:TilknytningType"/>
</xs:schema>