SystemInterface/SystemInterface/DsiNext/wsdl/KbhKKAdminServiceWsdl0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://www.kirkenskorshaer.dk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.kirkenskorshaer.dk" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.kirkenskorshaer.dk/Imports">
			<xsd:import schemaLocation="KbhKKAdminServiceXsd0.xsd" namespace="http://www.kirkenskorshaer.dk"/>
			<xsd:import schemaLocation="KbhKKAdminServiceXsd1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
			<xsd:import schemaLocation="KbhKKAdminServiceXsd2.xsd" namespace="http://schemas.datacontract.org/2004/07/KKAdminWcfService"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IKKAdminService_GetVersion_InputMessage">
		<wsdl:part name="parameters" element="tns:GetVersion"/>
	</wsdl:message>
	<wsdl:message name="IKKAdminService_GetVersion_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetVersionResponse"/>
	</wsdl:message>
	<wsdl:message name="IKKAdminService_GetSomeStamdataByDateWithPaging_InputMessage">
		<wsdl:part name="parameters" element="tns:GetSomeStamdataByDateWithPaging"/>
	</wsdl:message>
	<wsdl:message name="IKKAdminService_GetSomeStamdataByDateWithPaging_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetSomeStamdataByDateWithPagingResponse"/>
	</wsdl:message>
	<wsdl:portType name="IKKAdminService">
		<wsdl:operation name="GetVersion">
			<wsdl:input wsam:Action="http://www.kirkenskorshaer.dk/IKKAdminService/GetVersion" message="tns:IKKAdminService_GetVersion_InputMessage"/>
			<wsdl:output wsam:Action="http://www.kirkenskorshaer.dk/IKKAdminService/GetVersionResponse" message="tns:IKKAdminService_GetVersion_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetSomeStamdataByDateWithPaging">
			<wsdl:input wsam:Action="http://www.kirkenskorshaer.dk/IKKAdminService/GetSomeStamdataByDateWithPaging" message="tns:IKKAdminService_GetSomeStamdataByDateWithPaging_InputMessage"/>
			<wsdl:output wsam:Action="http://www.kirkenskorshaer.dk/IKKAdminService/GetSomeStamdataByDateWithPagingResponse" message="tns:IKKAdminService_GetSomeStamdataByDateWithPaging_OutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>