SystemInterface/SystemInterface/Service References/KKAdminService/KKAdminService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.kirkenskorshaer.dk" elementFormDefault="qualified" targetNamespace="http://www.kirkenskorshaer.dk" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://185.66.184.58/KKAdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KKAdminWcfService" />
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSomeStamdataByDateWithPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastChange" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSomeStamdataByDateWithPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KKAdminWcfService" minOccurs="0" name="GetSomeStamdataByDateWithPagingResult" nillable="true" type="q1:ArrayOfStamdata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>