SystemInterface/SystemInterface/Service References/KKAdminService/KKAdminService11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.kirkenskorshaer.dk" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.kirkenskorshaer.dk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.kirkenskorshaer.dk/Imports">
      <xsd:import schemaLocation="https://185.66.184.58/KKAdminService.svc?xsd=xsd0" namespace="http://www.kirkenskorshaer.dk" />
      <xsd:import schemaLocation="https://185.66.184.58/KKAdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://185.66.184.58/KKAdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KKAdminWcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKKAdminService_GetVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="IKKAdminService_GetVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IKKAdminService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IKKAdminService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IKKAdminService_GetSomeStamdataByDateWithPaging_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSomeStamdataByDateWithPaging" />
  </wsdl:message>
  <wsdl:message name="IKKAdminService_GetSomeStamdataByDateWithPaging_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSomeStamdataByDateWithPagingResponse" />
  </wsdl:message>
  <wsdl:portType name="IKKAdminService">
    <wsdl:operation name="GetVersion">
      <wsdl:input wsaw:Action="http://www.kirkenskorshaer.dk/IKKAdminService/GetVersion" message="tns:IKKAdminService_GetVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://www.kirkenskorshaer.dk/IKKAdminService/GetVersionResponse" message="tns:IKKAdminService_GetVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://www.kirkenskorshaer.dk/IKKAdminService/Authenticate" message="tns:IKKAdminService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://www.kirkenskorshaer.dk/IKKAdminService/AuthenticateResponse" message="tns:IKKAdminService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSomeStamdataByDateWithPaging">
      <wsdl:input wsaw:Action="http://www.kirkenskorshaer.dk/IKKAdminService/GetSomeStamdataByDateWithPaging" message="tns:IKKAdminService_GetSomeStamdataByDateWithPaging_InputMessage" />
      <wsdl:output wsaw:Action="http://www.kirkenskorshaer.dk/IKKAdminService/GetSomeStamdataByDateWithPagingResponse" message="tns:IKKAdminService_GetSomeStamdataByDateWithPaging_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>